body{
  margin:0;
  font-family:sans-serif;
  background:#f4f6f8;
}

.container{
  padding:15px;
}

.card{
  background:white;
  border-radius:16px;
  padding:15px;
  margin-bottom:15px;
}

input, textarea{
  width:100%;
  padding:12px;
  border-radius:12px;
  border:1px solid #ccc;
  margin-top:10px;
}

.waste-row{
  display:flex;
  justify-content:space-between;
  gap:10px;
  margin-top:10px;
}

.submit-btn{
  width:100%;
  background:#09c022;
  color:white;
  border:none;
  padding:16px;
  border-radius:16px;
  font-size:18px;
}
