/* ===== Reset ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: "IBM Plex Sans Thai Looped", system-ui, sans-serif;
  background: #f4f6f8;
  color: #222;
  padding-bottom: 80px; /* กัน bottom-nav */
}

.bottom-space {
  height: 80px; /* ปรับตามความสูง bottom-nav */
}

/* === login page === */
.card {
  background: #00BEC4;
  width: 100%;
  max-width: 360px;
  margin: 16px;
  padding: 24px 20px 28px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.logo-img {
  width: 120px;
  height: 120px;
  border-radius: 80%;  
  object-fit: cover;   
  display: block;
  margin: 0 auto 20px;
}

.line-btn {
  width: 90%;
  padding: 14px 18px;
  background: #F6F6F6;
  border-radius: 999px;

  display: flex;               
  align-items: center;          
  justify-content: center;

  gap: 10px;                    
  font-size: 20px;
  font-weight: 600;
  color: #111;
  border: none;
  cursor: pointer;
}

.line-icon {
  width: 30px;
  height: 28px;
  display: block;
}

/* ===== Header ===== */
.header-blue {
  background: #00bec4;
  padding: 20px 16px 40px;
}

.header-inner {
  max-width: 420px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
}

.header-text h2 {
  font-size: 18px;
  color: #fff;
}

.header-text p {
  font-size: 12px;
  color: rgba(255,255,255,0.9);
}

/* ===== Search ===== */
.search-container {
  max-width: 420px;
  margin: -28px auto 10px;
  padding: 0 16px;
}

.search-box {
  background: #fff;
  border-radius: 999px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

/* ===== Map ===== */
#map {
  max-width: 420px;
  height: 220px;
  margin: 14px auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.dist-info {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}

/* ===== Section ===== */
.section-title {
  max-width: 420px;
  margin: 10px auto;
  padding: 0 16px;
  font-weight: 700;
  font-size: 16px;
}

/* ===== Desktop จำกัดความกว้าง ===== */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }

  body > * {
    width: 420px;
  }
}
